.menubar{
    background-color: rgba(146, 56, 14, 0.74);
    height: 80px;
    width:  100%;   
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2%;
    position: fixed;
}
.logo{
    color: rgba(231, 252, 197, 0.884);
    font-size: 50px;;
 margin-left: 380px;
   align-items: center;
}
.image{
    background-image: url(https://wallpapercave.com/wp/wp1874169.jpg);
    background-repeat: no-repeat;
    width: 1300px;
    height: 1000px

}
.banner4 { position: relative;
 ;
    color: rgba(255, 166, 0, 0.801);

    padding-right: 370px;
    padding-top: 270px;
font-family: 'Times New Roman', Times, serif;
padding-left: 340PX;
    font-size: 40px;
}
*
{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.button
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.button a {
    font-size: 14px;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 12px 15px;
    background: rgba(252, 244, 197, 0.884);
    border: 1px solid #555;
    border-radius: 3px;
}
.button a:hover{
    box-shadow: 2px 2px 5px #ad1313;
}
 



